{% extends 'base.html' %}

{% block body %}
    {% from 'bootstrapform.html' import form_field %}
    <div style="width: 80%">
        <form action="" method="POST">
            <div class="row"> 
                <div class="col-md-5">
                    <p class="h1">{{ group.name }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    {{ form_field(form.delete, class_='btn-danger', value='Ta bort grupp') }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    {{ form_field(form.person, title='Välj klasskamrat') }}
                </div>
                <div class="col-md-2">
                    {{ form_field(form.add, class_='btn-success', value='Lägg till person') }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <ul class="list-group">
                    {% for person in group.persons %}
                        <li class="list-group-item">
                            {{ person.name }}
                            <button type="submit" value="{{ person.name }}" name="remove" class="pull-right" style="background: none; border: none" aria-hidden="true"><span class="glyphicon glyphicon-remove-sign"></span></button>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </form>
    </div>
{% endblock %}